<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">E-Dnevnik</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">Admin Panel</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'DIRECTOR')">
                        <a class="nav-link" th:href="@{/schools}">Schools</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'DIRECTOR')">
                        <a class="nav-link" th:href="@{/subjects}">Subjects</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'DIRECTOR')">
                        <a class="nav-link" th:href="@{/classes}">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/curriculum}">Curriculum</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'DIRECTOR')">
                        <a class="nav-link" th:href="@{/teacher-assignments}">Teacher Assignments</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'DIRECTOR')">
                        <a class="nav-link" th:href="@{/statistics}">Statistics</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('TEACHER')">
                        <a class="nav-link" th:href="@{/my-assignments}">My Assignments</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('TEACHER')">
                        <a class="nav-link" th:href="@{/attendance}">Take Attendance</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('TEACHER')">
                        <a class="nav-link" th:href="@{/attendance/class-view}">View Attendance</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('TEACHER')">
                        <a class="nav-link" th:href="@{/grades}">Grades</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('STUDENT')">
                        <a class="nav-link" th:href="@{/my-grades}">My Grades</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('STUDENT')">
                        <a class="nav-link" th:href="@{/attendance/my-attendance}">My Attendance</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('PARENT')">
                        <a class="nav-link" th:href="@{/children}">My Children</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('PARENT')">
                        <a class="nav-link" th:href="@{/attendance/children-attendance}">Children's Attendance</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <span class="navbar-text me-3">
                        Welcome, <span sec:authentication="name">Username</span>
                    </span>
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-outline-light" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</body>
</html> 